.course {
    display: grid;
    align-items: start;
    grid-auto-flow: column;
    gap: 76px;
    color: $black-background-color;
    background-color: $white-background-color;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 50px;

    &__list {
        display: grid;
        grid-template-rows: auto;
        grid-auto-rows: auto;
    }

    &__title {
        font-size: 100px;
    }

    &__text {
        font-size: 20px;
    }

    &__button {
        width: 228px;
        height: 49px;
        border: 2px solid #000000;
        border-radius: 9999px;
    }

    &__image {
        width: 642px;
        height: 555px;
    }
}