.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $red-background-color;
    min-height: 84px;
    margin: 0;
    padding: 0 50px;

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $white-color;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        margin: 0;
        padding: 0;
        margin-right: 40px;
        font-size: 16px;
        line-height: 24px;

        &:last-of-type{
            margin-right: 0; 
        }
    }
    &__icon{
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
    }
}